{% extends 'base.html' %}

{% block content %}

<h1>HOME</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, molestias. Totam vitae fuga impedit, fugiat corrupti et quam! Provident labore delectus illum dolores! Doloremque labore harum culpa quam natus inventore in sed rem, odio incidunt repudiandae nihil amet quod, est at qui enim expedita, perferendis fuga quae perspiciatis deleniti laboriosam ea? Odit reprehenderit, reiciendis sed tempora quod expedita, ullam nesciunt magni quibusdam neque corporis molestiae quisquam necessitatibus sequi culpa et repellat itaque vero fugit eum eius, sit delectus esse qui. Accusamus est animi repellat illo, dolore sapiente vel libero, quis quod perspiciatis laboriosam ea commodi voluptas. Aspernatur incidunt amet veritatis.</p>

{% endblock %}